<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="www.google.com">in28mintues</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="HardcodedAuthenticationService.isUserLoogedIn()" routerLink="/welcome/admin"
                    class="nav-link">Home</a></li>
            <li><a *ngIf="HardcodedAuthenticationService.isUserLoogedIn()" routerLink="/todos"
                    class="nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!HardcodedAuthenticationService.isUserLoogedIn()" routerLink="/login"
                    class="nav-link">Login</a></li>
            <li><a *ngIf="HardcodedAuthenticationService.isUserLoogedIn()" routerLink="/logout"
                    class="nav-link">Logout</a></li>
        </ul>

    </nav>
</header>