<!-- <h1>Welcome</h1> -->
<div class="main">
    <div class="container login-main-text">
        <h2>
            Welcome {{name}}. You can manage your todos <a routerLink="/todos">here</a>
        </h2>

    </div>

    <div class="container login-main-text">
        <h2>
            Click here to get a customized welcome message
        </h2>
        <br>

        <button (click)="GetWelcomeMessageWithParameter()" class="btn btn-success"> Get Welcome Message</button>
    </div>
    <br>
    <div class="container login-return-text" *ngIf="welcomeMessageFromService">
        <h2>
            Your Customized Welcome Message <br>
            <div style="color: chocolate;">{{welcomeMessageFromService}}</div>
        </h2>
    </div>
</div>